:root{
  --primary-color: #080324; 
  --accent-color: #c71c5b;
  --back-color: #d5d1d1; 
  --back-color2: #b1a0a0;  --link-color: #0938ae;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--back-color);
  font-family: "Lato";
}

main {
  color: var(--primary-color);
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

nav {
  position: absolute;
  width: 100vw;
  height: 5vh;
  padding: 0.7rem;
  background-color:var(--back-color2);
  box-sizing: border-box;
  z-index: 10;
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li{
  margin-right: 1rem;
}

nav ul li:not(:last-child)::after{
  content: " |";
  margin-left: 1rem;
  color: var(--link-color);
}

nav ul li a {
  color: var(--link-color);
  text-decoration: none;
  font-size: 1.2em;
  text-shadow: 0 0 2px rgb(168, 183, 203);
  transition: all 0.5s ease;
}

nav ul li a:hover {
  color: var(--accent-color);
  text-shadow: 0 0 5px var(--accent-color);
}

section.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
  gap: 20px;
}

section.hero .hero-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  text-align: center;
}

.hero-text h1 {
  font-size: 2.5em;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.hero-text h2 {
  font-size: 1.4em;
  margin: 0;
  font-weight: 300;
}

.hero-text p {
  font: italic;
  background-color: var(--back-color2);
  padding: 1rem;
  margin: 2rem;
  border-radius: 15px;
  width: 40ch;
}

.hero-text p::before {
  content: "“";
  font-size: 2em;
  color: var(--accent-color);
}

.hero-text p::after{
  content: "”";
  font-size: 2em;
  color: var(--accent-color)
}

.text-accent {
  color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.hero img {
  max-width: 400px;
  object-fit: contain;
  border-radius: 15px;
  min-width: 200px;
  width: 100%;
}

section.skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 3rem;
  justify-content: center;
}
 
section.skills ul li {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

}
section.skills ul li .skill-shadow{
  background-color: rgba(177, 150, 150, 0.7);
  border-radius: 1rem;
}

section.skills ul li .skill-bar{
  background-color: var(--back-color2);
  border-radius: 1rem;
  width: 90%;
  font-style: italic;
  padding: 1rem 0;
  font-size: 1.3em;
}

.skill-bar span.value{
  margin-left: 1rem;
}

.skill-bar span.value::after{
  content: "%";
}

section.timeline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2rem;
}
 
ul.timeline-items{
  max-width: 1300px;
  display: flex;
  flex-wrap:wrap;
  position: relative;
  list-style: none;
  padding: 0;
}

ul.timeline-items::before{
  content:"";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--accent-color);
  box-shadow: 0 0 3px var(--primary-color);
  left: calc(50% + 15px);
}

ul.timeline-items li{
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

ul.timeline-items li:nth-child(odd){
  padding-right: calc(50% - 6px);
  text-align: right;
}

ul.timeline-items li:nth-child(even){
  padding-left: calc(50% + 30px);
  text-align: left;
}

ul.timeline-items li:last-child{
  margin-bottom: 0;
}

ul.timeline-items .timeline-dot{
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: var(--accent-color);
  border-radius: 50%;
  right: calc(50% - 28px);
  box-shadow: 0 0 7px var(--primary-color);
}

ul.timeline-items .timeline-date{
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  margin: 0 5px 15px 10px;
}

 ul.timeline-items .timeline-content{
  border: 3px solid var(--accent-color);
  padding: 10px 30px;
  border-radius: 75px;
  background-color: var(--back-color2);
  box-shadow: 0 0 10px var(--primary-color);
  cursor: grab;
  transition: all .3s ease;
 }

 ul.timeline-items .timeline-content:hover{
  box-shadow: 0 0 15px var(--accent-color);
  transform: scale(1.05);
 }

 .timeline-content h3{
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 1px 0;
 }

 .timeline-content p{
  font-size: 14px;
  font-weight: 300;
  margin: 0;
 }

 section.projects{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing:border-box;
 }

 section.projects ul{
  list-style: none;
  padding: none;
  padding: 0;
  display: flex;
  justify-content:center;
  gap: 2rem;
 }

 section.projects ul li{
  border: 1.5px solid var(--primary-color);
  max-width: 400px;
  min-width: 200px;
  background-color: var(--back-color2);
  border-radius: 1rem;
  box-shadow: 4px 4px 10px var(--primary-color);
  flex-shrink: 1;
  flex-basis: 400px;
  transition: all 0.3s ease;
 }

 section.projects ul li img{
  width: 100%;
  border-radius: 1rem 1rem 0 0;
 }

 section.projects ul li h4{
  margin-inline: 0.5rem 1rem;
  font-size: 1.1em;
 }
 
 section.projects ul li p{
  margin: 0 1rem 0.5rem 1rem;
 }

 section.projects ul li a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.8rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: var(--back-color);
  border-style: ridge;
  border-color: var(--accent-color);
  border-width: 0.2em;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--primary-color);
  text-shadow: 0 0 4px var(--back-color2);
  box-shadow: 2px 2px 6px var(--primary-color);
}

 section.projects ul li:hover{
  box-shadow: 4px 4px 30px var(--primary-color);
  transform: translateY(-0.3rem) translateX(0.3rem);
  cursor: default;
 }

 /*Media-Queries*/
 @media screen and (max-width: 900px){
  section.skills ul{
    margin-top: 0;
    gap: 1rem;
    transform: scale(0.9)
  }
  section.skills ul li{
    width: 80%;
  }
  section.timeline{
    padding:0.6rem;
    justify-content: end;
    transform: scale(0.9);
  }
  section.timeline h2.timeline-title{
    margin: 0;
  }
  section.timeline .timeline-items {
    max-width: fit-content;
  }
  /*.timeline-content p{
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }*/
  section.hero{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }
  section.hero .hero-text{
    font-size: 0.9rem;
    height: 100%;
    justify-content: end;
  }
  section.hero .hero-text p{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 55ch;
  }
  section.hero .hero-text h1{
    margin: 0;
  }
  section.hero img{
    height: 100%;
  }
  section.projects ul{
    flex-direction: column;
    align-items: center;
  }
  section.projects ul li{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    min-width: 100px;
    width: 80%;
    flex-basis: auto;
    max-height: 25vh;
  }
  section.projects ul li .card-content{
   display: flex;
   flex-direction: column;
  }
  section.projects ul li img{
    width: auto;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
  }
  section.projects ul li .card-content a{
    margin-top: auto;
    margin-bottom: 0.6rem;
    margin-right: 0.6rem;
    align-self:flex-end;
  }
 }